/*
Colors used:
Primary Background Color (Dark Gray): #111827;
Secondary Color (White): #FFFFFF;
Global Accent Color (Cyan): 06B6D4;
Font: Poppins;
*/
*::before,
*::after { 
    box-sizing: border-box; 
}

header {
    background-color:#131b2c;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin: 10px;
    margin: 0 auto;
    border-bottom: 3px solid #06B6D4;
    text-align: unset;
    overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px; /*sets font size to 16px*/
  font-weight: 400; /*sets font weight to 400*/
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  background-color: #111827;
  color: #FFFFFF;
}

#work h2 {
    text-align: center;
    margin-top: 0;        /* Remove top margin to bring it up */
    margin-bottom: 40px;  /* Keep some space below */
}


/* sticky footer helpers */
/*html, body { height: 100%; }
body { display: flex; flex-direction: column; }
main { flex: 1; }*/


h1, h2, h3 {
    line-height: 1.6
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    font-size: 2.25em;
    font-weight: 500;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

img {
    display: block;
    width: 100%;
}

a{
    color:#FFFFFF;
    text-decoration: none; /*no underline */
}
a:hover{
    color:aqua;
    text-decoration: underline; /*no underline*/
}

a:active{
    color:aqua;
}

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #f1f7f8; }



#hero h1 {
    text-align: center; /* Centers text */
    margin: 0;
    padding: 0.67em 0;
}

#hero p {
    text-align: center; /* Centers text */
    margin: 0;
    padding: 0.67em 0;
}

.logo {
    max-width: 100px;
    padding: 5px;
    float: left;
    margin-left: 20px; 
   
}


nav > ul {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
}

nav > ul > li {
    display: inline-block;
    
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
}

main {
    padding-top: 133px;
}

.icon {
    width: 50px;
    height: 50px;
    fill: #ffffff;
    margin: 0 2px;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 40px 0;
}

footer h2{
    text-align: center;
    margin-bottom: 20px;
}

footer p{
    text-align: center;
    margin-bottom: 30px;
}

.social-icons {
    display: block;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #06B6D4;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2a5784; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}



.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #06B6D4;
  text-transform: uppercase;
  border: 2px solid #06B6D4;
}

.button.contact:hover {
  background-color: #204492;
  color: #ffffff;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    #hero span {
    display: block;
    }
    
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    .col-md-6 { 
        width: 50%; 
    }

    [class*="col-"],
    .column[class*="col-"] { 
        float: left; 
        padding: 10px; 
        box-sizing: border-box;
        vertical-align: top;
    }

    /* Remove default margins from headings and paragraphs in columns */
    [class*="col-"] h3 {
    margin-top: 0;
    }

    [class*="col-"] p {
    margin-top: 0;
    }

    .row::after { 
        content:""; 
        display: table; 
        clear: both; 
    }

   
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-7 { width: 58.3333%; } /* 7/12 */
    .col-lg-5 { width: 41.6667%; } /* 5/12 */
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
